<!--  -->

<ion-view cache-view="false" view-title="{{ ::eventDetailsCtrl.event.title }}">

  <ion-content class="padding">
    <div class="list card">

      <!-- Description -->
      <div class="item item-divider text-center">
        Description
      </div>
      <div class="item item-body item-text-wrap">

        <!-- Row -->
        <div class="row responsive-sm">

          <div class="col col-offset-20">
            <img ng-src="{{::eventDetailsCtrl.event.image_url}}" class="full-image">
          </div>

          <div class="col col-20"></div>

        </div>

        <!--Row 2-->
        <div class="row">
          <div class="col">
            <p>{{::eventDetailsCtrl.event.description }}</p>
          </div>
        </div>




      </div>


      <div class="item item-divider text-center">
        Details
      </div>
      <div class="item">

        <!-- Row 1 -->
        <div class="row item-text-wrap" ng-if="eventDetailsCtrl.event.start_date || eventDetailsCtrl.event.end_date">
          <div class="col">
            <dl>
              <dt>Date</dt>
              <dd>{{::eventDetailsCtrl.event.start_date | amDateFormat:'dddd MMMM Do'}}</dd>
            </dl>
          </div>

          <!-- TODO: fix multi day events - dont display times for theses -->
          <div class="col" ng-if="((eventDetailsCtrl.event.start_date | amDifference : eventDetailsCtrl.event.end_date : 'days') <= 1)">
            <dl>
              <dt ng-if="appCtrl.moment(eventDetailsCtrl.event.start_date).format('HHmmSS') !== '000000' && appCtrl.moment(eventDetailsCtrl.event.end_date).format('HHmmSS') !== '000000'">Time</dt>
              <dd>{{::eventDetailsCtrl.event.start_date | amDateFormat:'h:mm a'}} - {{::eventDetailsCtrl.event.end_date | amDateFormat:'h:mm a'}}</dd>
            </dl>
          </div>
        </div>

        <!-- Row 2 -->
        <div class="row item-text-wrap" ng-if="eventDetailsCtrl.event.venue || eventDetailsCtrl.event.organizer">
          <div class="col" ng-if="eventDetailsCtrl.event.venue">
            <dl>
              <dt>Location</dt>
              <dd>{{eventDetailsCtrl.event.venue}}</dd>
            </dl>
          </div>

          <div class="col" ng-if="eventDetailsCtrl.event.organizer !== ''">
            <dl>
              <dt>Organizer</dt>
              <dd>{{eventDetailsCtrl.event.organizer}}</dd>
            </dl>
          </div>
        </div>

      </div>

    <!--Footer-->
    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" ng-click="eventDetailsCtrl.addEventToCalendar()"><i class="icon ion-ios-calendar-outline"></i>Add to Calendar</a>
      <a ng-if="eventDetailsCtrl.event.facebook_event_url" class="tab-item" ng-click="appCtrl.$cordovaInAppBrowser.open(eventDetailsCtrl.event.facebook_event_url, '_blank')"><i class="icon ion-social-facebook"></i>Facebook</a>
      <a class="tab-item" ng-click="appCtrl.$cordovaInAppBrowser.open(eventDetailsCtrl.event.url, '_blank')"><i class="icon ion-share"></i>GTJ.com</a>
      <a ng-if="eventDetailsCtrl.event.event_website_url" class="tab-item" ng-click="appCtrl.$cordovaInAppBrowser.open(eventDetailsCtrl.event.event_website_url, '_blank')"><i class="icon ion-ios-information-outline"></i><span>More Info</span></a>
    </div>

    </div>
  </ion-content>
</ion-view>

<!--  -->
